<div class="container hr">
  <h1><%= t('items.editing_item') %></h1>
  <p></p>
  <p></p>
  <%= link_to t('global.show'), @item, class: "btn btn-primary" %> |
  <%= link_to t('global.back'), items_path, class: "btn btn-secondary" %>
  <p></p>
  <p></p>

  <%= render 'form', item: @item %>
</div>